[Unit]
Description=csirtg-ufw service

[Service]
Type=simple
User={{ app_user }}
Group={{ app_user }}
PIDFile=/run/csirtg-ufw.pid
ExecStart=/bin/sh -c '/usr/local/bin/csirtg-ufw --client {{ smrt_client }} --feed {{ csirtg_feed }} -d --user {{ csirtg_user }} --provider {{ smrt_provider }} --file /var/log/ufw.log > /var/log/csirtg-ufw.log 2>&1'
KillMode=process
Restart=on-failure
KillSignal=SIGINT
TimeoutStopSec=5
PrivateTmp=true

EnvironmentFile=-/etc/darknet.env

[Install]
WantedBy=multi-user.target
