# https://coreos.com/os/docs/latest/using-environment-variables-in-systemd-units.html

ZYRE_GROUP={{ zyre_group }}
ZSYS_INTERFACE={{ zsys_interface }}
CSIRTG_TOKEN={{ csirtg_token }}
CSIRTG_FEED={{ csirtg_feed }}
CSIRTG_USER={{ csirtg_user }}