---
- name: Update apt cache if needed.
  apt: update_cache=yes cache_valid_time=3600 upgrade=yes

- name: install requirements
  pip: name="{{ item }}"
  with_items:
    - cython>=0.20
    - https://github.com/zeromq/pyzmq/archive/f37052960e1dc510ea2c1d2e69a32d727afa9d69.tar.gz#egg=pyzmq>16.0.1
    - csirtg_indicator=={{ indicator_version }}
    - csirtg_smrt=={{ smrt_version }}
    - pyzyre=={{ pyzyre_version }}
    - tailer
    - csirtgsdk=={{ csirtgsdk_version }}